@font-face {
    font-family: 'LR';
    src: url('fa6c9b89461a5bf99d9a8e12e90303d3.woff2') format('woff2'),
        url('fa6c9b89461a5bf99d9a8e12e90303d3.woff') format('woff'),
        url('fa6c9b89461a5bf99d9a8e12e90303d3.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LR';
    src: url('e7afaa6cb67bac05945f7264d4a21d56.woff2') format('woff2'),
        url('e7afaa6cb67bac05945f7264d4a21d56.woff') format('woff'),
        url('e7afaa6cb67bac05945f7264d4a21d56.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: "icons";
    src: url("icons-1df925a11a2b6c7d6a3d728ed1be4654.eot");
    src: url("icons-1df925a11a2b6c7d6a3d728ed1be4654.eot?#iefix") format("embedded-opentype"),
		url("icons-1df925a11a2b6c7d6a3d728ed1be4654.woff") format("woff"),
		url("icons-1df925a11a2b6c7d6a3d728ed1be4654.ttf") format("truetype"),
		url("icons-1df925a11a2b6c7d6a3d728ed1be4654.svg?#icons") format("svg");
    font-weight: normal;
    font-style: normal
}


i:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0
}

.icon-360-evo-jaguar:before {
    content: "\e001"
}

.icon-360-view:before {
    content: "\e002"
}

.icon-accessories-evo-jaguar:before {
    content: "\e003"
}

.icon-accessories:before {
    content: "\e004"
}

.icon-accolade-chevron-left:before {
    content: "\e005"
}

.icon-accolade-chevron-right:before {
    content: "\e006"
}

.icon-add-evo-jaguar:before {
    content: "\e007"
}

.icon-approved-used:before {
    content: "\e008"
}

.icon-approvedused-evo-jaguar:before {
    content: "\e009"
}

.icon-apps-evo-jaguar:before {
    content: "\e00a"
}

.icon-arduous-evo-jaguar:before {
    content: "\e00b"
}

.icon-arrow-down:before {
    content: "\e00c"
}

.icon-back-to-top:before {
    content: "\e00d"
}

.icon-bars:before {
    content: "\e00e"
}

.icon-battery-evo-jaguar:before {
    content: "\e00f"
}

.icon-bodyshop-evo-jaguar:before {
    content: "\e010"
}

.icon-bodyshop:before {
    content: "\e011"
}

.icon-bond:before {
    content: "\e012"
}

.icon-brakefluid-evo-jaguar:before {
    content: "\e013"
}

.icon-brakepads-evo-jaguar:before {
    content: "\e014"
}

.icon-brochure-evo-jaguar:before {
    content: "\e015"
}

.icon-calculate-trade-in-value:before {
    content: "\e016"
}

.icon-calendar-evo-jaguar:before {
    content: "\e017"
}

.icon-calendar:before {
    content: "\e018"
}

.icon-call-evo-jaguar:before {
    content: "\e019"
}

.icon-capacity-evo-jaguar:before {
    content: "\e01a"
}

.icon-captions-on:before {
    content: "\e01b"
}

.icon-captions:before {
    content: "\e01c"
}

.icon-caution-evo-jaguar:before {
    content: "\e01d"
}

.icon-caution:before {
    content: "\e01e"
}

.icon-chevron-down:before {
    content: "\e01f"
}

.icon-chevron-up:before {
    content: "\e020"
}

.icon-chevronleft-evo-jaguar:before {
    content: "\e021"
}

.icon-chevronright-evo-jaguar:before {
    content: "\e022"
}

.icon-climate-jaguar:before {
    content: "\e023"
}

.icon-clock-evo-jaguar:before {
    content: "\e024"
}

.icon-close-evo-jaguar:before {
    content: "\e025"
}

.icon-close:before {
    content: "\e026"
}

.icon-close_v2:before {
    content: "\e027"
}

.icon-close_v3:before {
    content: "\e028"
}

.icon-co2-evo-jaguar:before {
    content: "\e029"
}

.icon-comment:before {
    content: "\e02a"
}

.icon-compare-evo-jaguar:before {
    content: "\e02b"
}

.icon-compare-jaguar:before {
    content: "\e02c"
}

.icon-compare:before {
    content: "\e02d"
}

.icon-comparison-jaguar:before {
    content: "\e02e"
}

.icon-contact-evo-jaguar:before {
    content: "\e02f"
}

.icon-coolant-evo-jaguar:before {
    content: "\e030"
}

.icon-credit-card-jaguar:before {
    content: "\e031"
}

.icon-credit-card:before {
    content: "\e032"
}

.icon-directional-left:before {
    content: "\e033"
}

.icon-directional-right:before {
    content: "\e034"
}

.icon-directions-jaguar:before {
    content: "\e035"
}

.icon-directions:before {
    content: "\e036"
}

.icon-dj-grass:before {
    content: "\e037"
}

.icon-dj-gravel-rocks:before {
    content: "\e038"
}

.icon-dj-mud-ruts:before {
    content: "\e039"
}

.icon-dj-on-road:before {
    content: "\e03a"
}

.icon-dj-sand:before {
    content: "\e03b"
}

.icon-dj-snow-ice:before {
    content: "\e03c"
}

.icon-dj-water:before {
    content: "\e03d"
}

.icon-dots-evo-jaguar:before {
    content: "\e03e"
}

.icon-download-evo-jaguar:before {
    content: "\e03f"
}

.icon-download:before {
    content: "\e040"
}

.icon-drag-arrow-down:before {
    content: "\e041"
}

.icon-drag-arrow-left:before {
    content: "\e042"
}

.icon-drag-arrow-right:before {
    content: "\e043"
}

.icon-drag-arrow-up:before {
    content: "\e044"
}

.icon-drive-evo-jaguar:before {
    content: "\e045"
}

.icon-driveoffroad:before {
    content: "\e046"
}

.icon-driveonroad-jaguar:before {
    content: "\e047"
}

.icon-driveonroad:before {
    content: "\e048"
}

.icon-edit-evo-jaguar:before {
    content: "\e049"
}

.icon-email-evo-jaguar:before {
    content: "\e04a"
}

.icon-email:before {
    content: "\e04b"
}

.icon-exclamation-lr:before {
    content: "\e04c"
}

.icon-experience-evo-jaguar:before {
    content: "\e04d"
}

.icon-experience:before {
    content: "\e04e"
}

.icon-explore:before {
    content: "\e04f"
}

.icon-favourite-evo-jaguar:before {
    content: "\e050"
}

.icon-fax-evo-jaguar:before {
    content: "\e051"
}

.icon-fax:before {
    content: "\e052"
}

.icon-filter-evo-jaguar:before {
    content: "\e053"
}

.icon-filter:before {
    content: "\e054"
}

.icon-filterclose-evo-jaguar:before {
    content: "\e055"
}

.icon-finance-calculator-jaguar:before {
    content: "\e056"
}

.icon-finance-calculator:before {
    content: "\e057"
}

.icon-financecalculator-evo-jaguar:before {
    content: "\e058"
}

.icon-fuel-evo-jaguar:before {
    content: "\e059"
}

.icon-fullscreen-evo-jaguar:before {
    content: "\e05a"
}

.icon-fullscreen-exit:before {
    content: "\e05b"
}

.icon-fullscreen:before {
    content: "\e05c"
}

.icon-gallery-categories:before {
    content: "\e05d"
}

.icon-gallery-evo-jaguar:before {
    content: "\e05e"
}

.icon-guides-evo-jaguar:before {
    content: "\e05f"
}

.icon-help-evo-jaguar:before {
    content: "\e060"
}

.icon-ignite-brochure-jaguar:before {
    content: "\e061"
}

.icon-ignite-brochure:before {
    content: "\e062"
}

.icon-ignite-configure-jaguar:before {
    content: "\e063"
}

.icon-ignite-configure:before {
    content: "\e064"
}

.icon-ignite-drive:before {
    content: "\e065"
}

.icon-ignite-inform-jaguar:before {
    content: "\e066"
}

.icon-ignite-inform:before {
    content: "\e067"
}

.icon-incontrol-evo-jaguar:before {
    content: "\e068"
}

.icon-info-evo-jaguar:before {
    content: "\e069"
}

.icon-information-landrover:before {
    content: "\e06a"
}

.icon-information:before {
    content: "\e06b"
}

.icon-inventory-evo-jaguar:before {
    content: "\e06c"
}

.icon-inventory:before {
    content: "\e06d"
}

.icon-jag2you-evo-jaguar:before {
    content: "\e06e"
}

.icon-land-rover-to-you:before {
    content: "\e06f"
}

.icon-left-open-big:before {
    content: "\e070"
}

.icon-link-evo-jaguar:before {
    content: "\e071"
}

.icon-location-evo-jaguar:before {
    content: "\e072"
}

.icon-location:before {
    content: "\e073"
}

.icon-login-evo-jaguar:before {
    content: "\e074"
}

.icon-map-pin-jaguar:before {
    content: "\e075"
}

.icon-map-pin:before {
    content: "\e076"
}

.icon-media-jaguar:before {
    content: "\e077"
}

.icon-minus-jaguar:before {
    content: "\e078"
}

.icon-minus:before {
    content: "\e079"
}

.icon-motorway-jaguar:before {
    content: "\e07a"
}

.icon-new-star-jaguar:before {
    content: "\e07b"
}

.icon-new-star:before {
    content: "\e07c"
}

.icon-nocostoption:before {
    content: "\e07d"
}

.icon-notes-evo-jaguar:before {
    content: "\e07e"
}

.icon-notes:before {
    content: "\e07f"
}

.icon-notifications-evo-jaguar:before {
    content: "\e080"
}

.icon-offereuro-evo-jaguar:before {
    content: "\e081"
}

.icon-offerpound-evo-jaguar:before {
    content: "\e082"
}

.icon-offers-finance-jaguar:before {
    content: "\e083"
}

.icon-offers-finance:before {
    content: "\e084"
}

.icon-oil-evo-jaguar:before {
    content: "\e085"
}

.icon-optional:before {
    content: "\e086"
}

.icon-ordertracker-evo-jaguar:before {
    content: "\e087"
}

.icon-owners:before {
    content: "\e088"
}

.icon-parts-evo-jaguar:before {
    content: "\e089"
}

.icon-parts:before {
    content: "\e08a"
}

.icon-pause-evo-jaguar:before {
    content: "\e08b"
}

.icon-pause:before {
    content: "\e08c"
}

.icon-phone-jaguar:before {
    content: "\e08d"
}

.icon-phone:before {
    content: "\e08e"
}

.icon-play-evo-jaguar:before {
    content: "\e08f"
}

.icon-play:before {
    content: "\e090"
}

.icon-plus-jaguar:before {
    content: "\e091"
}

.icon-plus:before {
    content: "\e092"
}

.icon-predelivery-evo-jaguar:before {
    content: "\e093"
}

.icon-preparationsale-evo-jaguar:before {
    content: "\e094"
}

.icon-print-evo-jaguar:before {
    content: "\e095"
}

.icon-print:before {
    content: "\e096"
}

.icon-profile-evo-jaguar:before {
    content: "\e097"
}

.icon-profile:before {
    content: "\e098"
}

.icon-question-mark:before {
    content: "\e099"
}

.icon-quickstartguides-evo-jaguar:before {
    content: "\e09a"
}

.icon-quote-left-mena:before {
    content: "\e09b"
}

.icon-quote-left:before {
    content: "\e09c"
}

.icon-quote-right-mena:before {
    content: "\e09d"
}

.icon-quote-right:before {
    content: "\e09e"
}

.icon-quotegbp-evo-jaguar:before {
    content: "\e09f"
}

.icon-quoteusd-evo-jaguar:before {
    content: "\e0a0"
}

.icon-reload-evo-jaguar:before {
    content: "\e0a1"
}

.icon-reminder-evo-jaguar:before {
    content: "\e0a2"
}

.icon-remove-evo-jaguar:before {
    content: "\e0a3"
}

.icon-repair:before {
    content: "\e0a4"
}

.icon-replay:before {
    content: "\e0a5"
}

.icon-request-quote-dollar-jaguar:before {
    content: "\e0a6"
}

.icon-request-quote-uk-jaguar:before {
    content: "\e0a7"
}

.icon-request-quote:before {
    content: "\e0a8"
}

.icon-right-open-big:before {
    content: "\e0a9"
}

.icon-salespreferred-evo-jaguar:before {
    content: "\e0aa"
}

.icon-save-evo-jaguar:before {
    content: "\e0ab"
}

.icon-search-evo-jaguar:before {
    content: "\e0ac"
}

.icon-search:before {
    content: "\e0ad"
}

.icon-seats-evo-jaguar:before {
    content: "\e0ae"
}

.icon-service-evo-jaguar:before {
    content: "\e0af"
}

.icon-service:before {
    content: "\e0b0"
}

.icon-servicehistory-evo-jaguar:before {
    content: "\e0b1"
}

.icon-servicepreferred-evo-jaguar:before {
    content: "\e0b2"
}

.icon-share-evo-jaguar:before {
    content: "\e0b3"
}

.icon-share-jaguar:before {
    content: "\e0b4"
}

.icon-share:before {
    content: "\e0b5"
}

.icon-shop-evo-jaguar:before {
    content: "\e0b6"
}

.icon-shop-jaguar:before {
    content: "\e0b7"
}

.icon-shop:before {
    content: "\e0b8"
}

.icon-slide-out-icon:before {
    content: "\e0b9"
}

.icon-snowflake-jaguar:before {
    content: "\e0ba"
}

.icon-social-facebook-comment:before {
    content: "\e0bb"
}

.icon-social-facebook-like:before {
    content: "\e0bc"
}

.icon-social-facebook-share:before {
    content: "\e0bd"
}

.icon-social-instagram-comment:before {
    content: "\e0be"
}

.icon-social-instagram-like:before {
    content: "\e0bf"
}

.icon-social-pinterest-like:before {
    content: "\e0c0"
}

.icon-social-pinterest-pin:before {
    content: "\e0c1"
}

.icon-social-twitter-favourite:before {
    content: "\e0c2"
}

.icon-social-twitter-retweet:before {
    content: "\e0c3"
}

.icon-social_blogger:before {
    content: "\e0c4"
}

.icon-social_douban:before {
    content: "\e0c5"
}

.icon-social_facebook:before {
    content: "\e0c6"
}

.icon-social_google:before {
    content: "\e0c7"
}

.icon-social_instagram:before {
    content: "\e0c8"
}

.icon-social_jaguarapp:before {
    content: "\e0c9"
}

.icon-social_linkedin:before {
    content: "\e0ca"
}

.icon-social_lrapp:before {
    content: "\e0cb"
}

.icon-social_pinterest:before {
    content: "\e0cc"
}

.icon-social_renren:before {
    content: "\e0cd"
}

.icon-social_sinaweibo:before {
    content: "\e0ce"
}

.icon-social_tumblr:before {
    content: "\e0cf"
}

.icon-social_twitter:before {
    content: "\e0d0"
}

.icon-social_vkontakt:before {
    content: "\e0d1"
}

.icon-social_wechat:before {
    content: "\e0d2"
}

.icon-social_whatsapp:before {
    content: "\e0d3"
}

.icon-social_youtube:before {
    content: "\e0d4"
}

.icon-sound-evo-jaguar:before {
    content: "\e0d5"
}

.icon-sound-off:before {
    content: "\e0d6"
}

.icon-sound-on:before {
    content: "\e0d7"
}

.icon-speed-evo-jaguar:before {
    content: "\e0d8"
}

.icon-speed-jaguar:before {
    content: "\e0d9"
}

.icon-standard:before {
    content: "\e0da"
}

.icon-stepone-evo-jaguar:before {
    content: "\e0db"
}

.icon-stepthree-evo-jaguar:before {
    content: "\e0dc"
}

.icon-steptwo-evo-jaguar:before {
    content: "\e0dd"
}

.icon-subtitles-on:before {
    content: "\e0de"
}

.icon-subtitles:before {
    content: "\e0df"
}

.icon-svo:before {
    content: "\e0e0"
}

.icon-target-evo-jaguar:before {
    content: "\e0e1"
}

.icon-thumbnail_view:before {
    content: "\e0e2"
}

.icon-tick-lr:before {
    content: "\e0e3"
}

.icon-tick:before {
    content: "\e0e4"
}

.icon-tickcircle-evo-jaguar:before {
    content: "\e0e5"
}

.icon-tyrepressure-evo-jaguar:before {
    content: "\e0e6"
}

.icon-value-jaguar:before {
    content: "\e0e7"
}

.icon-vehicle-evo-jaguar:before {
    content: "\e0e8"
}

.icon-vehicleadd-evo-jaguar:before {
    content: "\e0e9"
}

.icon-videoguides-evo-jaguar:before {
    content: "\e0ea"
}

.icon-view-vehicles:before {
    content: "\e0eb"
}

.icon-warning-evo-jaguar:before {
    content: "\e0ec"
}

.icon-warning:before {
    content: "\e0ed"
}

.icon-washerfluid-evo-jaguar:before {
    content: "\e0ee"
}

.icon-xcircle-evo-jaguar:before {
    content: "\e0ef"
}

.icon-zoom-evo-jaguar:before {
    content: "\e0f0"
}

.icon-zoom:before {
    content: "\e0f1"
}

.icon-zoom_in:before {
    content: "\e0f2"
}

.icon-zoom_out:before {
    content: "\e0f3"
}
