/* Colors */

:root {
    --yablack: #0c121c;
    --yawhite: #ffffff;
    --yalightgray: #a4a7a9;
    --yagray: #4a4f54;
    --yagreen: #005a2b;
    --yabgg1: #f8f9f9;
    --yabgg2: #e9ecec;
    --yabgg3: #e4e8e8;
}

body {
    font-family: Arial, serif;
    font-weight: normal;
    color: var(--yablack);
}

.mob {
    display: none;
}

h1 {
    font-family: 'LR';
    font-weight: bold;
}

h2,
h3 {
    font-family: 'LR';
    font-weight: normal
}

h4,
h5,
h6 {
    font-family: 'Avenir Next Cyr';
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    line-height: 1.1;
}

a,
a:focus,
a:active,
a:visited {
    color: var(--yagray);
}

a:hover {
    color: var(--yagreen);
}

.bordered {
    border-bottom: var(--yablack) 2px solid;
    border-top: var(--yablack) 2px solid;
}

.c-gray {
    color: var(--yagray);
}

.c-lightgray {
    color: var(--yagray);
}

.c-green {
    color: var(--yagreen);
}

.bg-gray1 {
    background-color: var(--yabgg1);
}

.bg-gray2 {
    background-color: var(--yabgg2);
}

.bg-gray3 {
    background-color: var(--yabgg3);
}

.bg-gray4 {
    background-color: var(--yagray);
}

.bg-black {
    background-color: var(--yablack);
}

.hbg-gray1:hover {
    background-color: var(--yabgg1);
}

.hbg-gray2:hover {
    background-color: var(--yabgg2);
}

.hbg-gray3:hover {
    background-color: var(--yabgg3);
}

.hbg-gray4:hover {
    background-color: var(--yagray);
}

.hbg-black:hover {
    background-color: var(--yablack);
}

.but,
.but:focus,
.but:active,
.but:visited {
    font-family: 'LR';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.9em;
}

.but:hover {
    text-decoration: none;
}

.but-black,
.but-black:focus,
.but-black:active,
.but-black:visited {
    color: var(--yawhite);
    background: var(--yablack);
    border: var(--yablack) 1px solid;
}

.but-black:hover {
    color: var(--yablack);
    background: none;
}

.but-white,
.but-white:focus,
.but-white:active,
.but-white:visited {
    color: var(--yablack);
    background: var(--yawhite);
    border: var(--yawhite) 1px solid;
}

.but-white:hover {
    color: var(--yawhite);
    background: none;
}

.form-control:focus {
    border-color: var(--yablack);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 90, 43, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 90, 43, 0.25);
}

.col-form-label {
    font-family: 'LR';
    font-weight: normal;
    text-transform: uppercase;
}

.alert-success,
.alert-success>th,
.alert-success>td {
    background-color: var(--yagreen);
}

.top-row {
    font-family: 'LR';
    font-weight: normal;
}

.top-row img {
    width: 100px;
    margin-right: 50px;
}

.top-row svg {
    fill: var(--yablack);
    width: 100px;
    height: 22px;
}

.top-row .header-phone {
    font-size: 1.1em;
}

.top-row a,
.top-row a:focus,
.top-row a:active,
.top-row a:visited {
    color: var(--yablack);
}

.top-row a:hover {
    text-decoration: none;
}

.top-row .header-button {
    font-size: 0.7em;
    text-transform: uppercase;
    border-left: var(--yalightgray) 1px solid;
}

.top-row .header-button a i {
    margin-left: 10px;
    font-size: 1.5em;
}

.plate {
    background-color: rgba(255, 255, 255, 0.9);
    top: 200px;
    left: 45px;
    padding: 3rem !important;
    max-width: 525px;
}

.cars h5 {
    overflow: hidden;
    line-height: 1.5;
}

.trade-in {
    background: url(../images/trade-in.jpg) center right no-repeat;
    background-size: cover;
}

.trade-in .col-md-4 {
    padding: 3rem !important;
}

.trade-in .title {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'LR';
    font-weight: normal;
    color: var(--yagray);
    border-top: var(--yagray) 2px solid;
    border-bottom: var(--yagray) 2px solid;
    margin-left: 3rem !important;
    margin-top: 3rem !important;
}

.trade-in h2 {
    font-size: 2.4em;
    margin-left: 3rem !important;
    margin-top: 3rem !important;
}

.trade-in p {
    margin-left: 3rem !important;
    margin-top: 3rem !important;
}

.trade-in a.but {
    margin-left: 3rem !important;
}

.test {
    padding: 3rem !important
}

.tfut {
    color: var(--yawhite);
}

.tfut .bordered {
    border-top-color: var(--yawhite);
    border-bottom-color: var(--yawhite);
}

.tfut .title {
    font-family: 'LR';
    font-weight: normal;
    font-size: 3.5em;
    border-bottom: var(--yawhite) 1px solid;
}

.tfut .title span,
.tfut p {
    color: var(--yalightgray);
}

.tfut .subtitle {
    font-family: 'LR';
    font-weight: normal;
    font-size: 1.4em;
    border-bottom: var(--yawhite) 1px solid;
    text-transform: uppercase;
    line-height: 1.2;
}

.contacts {
    position: absolute;
    top: 80px;
    left: 65px;
    background-color: rgba(255, 255, 255, .9);
}

.contacts svg {
    width: 150px;
    height: 33px;
}

.remodal-overlay {
    background: rgba(0, 0, 0, .8);
}

.remodal-close,
.remodal-close:before {
    top: 0;
    left: unset;
    right: 0;
}

.alert {
    display: none;
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 500px;
    }
    .remodal.col2 {
        max-width: 800px;
    }
}

.flatpickr-calendar,
.flatpickr-day {
    border-radius: 0px;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--yablack);
    border-color: var(--yablack);
}


/* xl-размер (>=1200px) */


/* CSS для >=1200px */


/* lg-размер (<=1199px) */

@media (max-width: 1199px) {
    /* CSS для ширины от 992px до 1199px */
    .plate {
        top: 45px;
    }
    h1 {
        font-size: 2.3em;
    }
    .trade-in .col-md-4 {
        padding: 0.5rem !important;
    }
    .trade-in .title {
        margin-left: 1rem !important;
        margin-top: 1rem !important;
    }
    .trade-in h2 {
        font-size: 2em;
        margin-left: 1rem !important;
        margin-top: 1rem !important;
    }
    .trade-in p {
        margin-left: 1rem !important;
        margin-top: 1rem !important;
        margin-bottom: 3rem !important;
    }
    .trade-in a.but {
        margin-left: 1rem !important;
    }
    .container {
        max-width: 100%;
    }
}


/* md-размер (<=991px) */

@media (max-width: 991px) {
    /* CSS для ширины от 768px до 991px */
    .mob {
        display: block;
    }
    .pc {
        display: none;
    }
    .plate {
        top: 25px;
        left: 25px;
    }
    h1 {
        font-size: 1.5em;
    }
    h5,
    .h5 {
        font-size: 1.0rem;
    }
    h2 {
        font-size: 2em;
    }
    .top-row .header-button a i {
        margin-left: 0;
    }
}


/* sm-размер (<=768px) */

@media (max-width: 768px) {
    /* CSS для ширины от 576px до 767px */
    .plate {
        top: 0;
        left: 0;
        position: unset !important;
        max-width: 100%;
    }
    .img-fluid {
        width: 100%;
    }
    .contacts {
        position: initial;
    }
    .footer div {
        padding-top: 1rem;
    }
}


/* xs-размер (<=575px) */

@media (max-width: 575px) {
    /* CSS для ширины до 575px (включительно) */
    .plate {
        padding: 1rem !important;
    }
    .test {
        padding: 1rem !important
    }
}

@media (max-width: 435px) {
    /* CSS для ширины до 575px (включительно) */
    .top-row img {
        width: 70px;
        margin-right: 15px;
    }
    .top-row svg {
        width: 70px;
        height: 22px;
    }
}